In [1]:
def hours():
    print('Open 9-5 daily')

^ The cell above is the file "zoo"

import zoo

zoo.hours()

this will give the ouput "Open 9-5 daily"

import zoo as menagerie

menagerie.hours()

this will also give the output "Open 9-5 daily"

In [4]:
import csv
import sqlalchemy

engine = sqlalchemy.create_engine('sqlite:///:memory:')

# create a book table in the database
with engine.connect() as conn:
    conn.execute('CREATE TABLE book (title TEXT, author TEXT, year INTEGER)')

# read in the data from the CSV file and insert it into the book table
with open('books2.csv', 'r') as f:
    reader = csv.reader(f)
    next(reader)  # skip the header row
    with engine.connect() as conn:
        for row in reader:
            conn.execute('INSERT INTO book VALUES (?, ?, ?)', row)

# select the title column from the book table and order it alphabetically
with engine.connect() as conn:
    result = conn.execute('SELECT title FROM book ORDER BY title ASC')
    
    # print out each row in the result set
    for row in result:
        print(row.title)

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!